@font-face {
  font-family: 'scopaicon';
  src:  url('fonts/scopaicon.eot?c68cr8');
  src:  url('fonts/scopaicon.eot?c68cr8#iefix') format('embedded-opentype'),
    url('fonts/scopaicon.ttf?c68cr8') format('truetype'),
    url('fonts/scopaicon.woff?c68cr8') format('woff'),
    url('fonts/scopaicon.svg?c68cr8#scopaicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="scopaicon-"], [class*=" scopaicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'scopaicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scopaicon-tianjiashiti:before {
  content: "\e900";
}
.scopaicon-tianjiaguanxi:before {
  content: "\e901";
}
.scopaicon-daoruzitu:before {
  content: "\e902";
}
.scopaicon-daoditu:before {
  content: "\e903";
}
.scopaicon-wenjianjia:before {
  content: "\e904";
}
.scopaicon-zhongdianrenbiaoshi:before {
  content: "\e905";
}
.scopaicon-yifenxiangbiaoji:before {
  content: "\e941";
}
.scopaicon-wode:before {
  content: "\e942";
}
.scopaicon-guanxileibie:before {
  content: "\e906";
}
.scopaicon-quntileibie:before {
  content: "\e907";
}
.scopaicon-shijianleibie:before {
  content: "\e908";
}
.scopaicon-shitileibie:before {
  content: "\e909";
}
.scopaicon-shuxingleibie:before {
  content: "\e90a";
}
.scopaicon-kandianzhongyaodu:before {
  content: "\e94b";
}
.scopaicon-jinmixing:before {
  content: "\e947";
}
.scopaicon-jujixishu:before {
  content: "\e948";
}
.scopaicon-zhongjiexing:before {
  content: "\e949";
}
.scopaicon-duzhongxin:before {
  content: "\e94a";
}
.scopaicon-daohuadan20:before {
  content: "\e943";
}
.scopaicon-houtui:before {
  content: "\e90b";
}
.scopaicon-qianjin:before {
  content: "\e90c";
}
.scopaicon-jiesuo:before {
  content: "\e90d";
}
.scopaicon-suoding:before {
  content: "\e90e";
}
.scopaicon-zidongbuju:before {
  content: "\e90f";
}
.scopaicon-wanggebuju:before {
  content: "\e910";
}
.scopaicon-cengcibuju:before {
  content: "\e911";
}
.scopaicon-huanxingbuju:before {
  content: "\e912";
}
.scopaicon-shujuliudong:before {
  content: "\e913";
}
.scopaicon-tuzhongxin:before {
  content: "\e914";
}
.scopaicon-fenximoshi:before {
  content: "\e915";
}
.scopaicon-duoxuan:before {
  content: "\e916";
}
.scopaicon-kuaizhao:before {
  content: "\e917";
}
.scopaicon-qingkong:before {
  content: "\e918";
}
.scopaicon-banjingsousuo:before {
  content: "\e919";
}
.scopaicon-lujingsousuo:before {
  content: "\e91a";
}
.scopaicon-guijinihe:before {
  content: "\e91b";
}
.scopaicon-daotuxi:before {
  content: "\e91c";
}
.scopaicon-daodangan:before {
  content: "\e91d";
}
.scopaicon-xiangpica:before {
  content: "\e91e";
}
.scopaicon-sousuoxiao:before {
  content: "\e91f";
}
.scopaicon-gaoliangxuanzhong:before {
  content: "\e920";
}
.scopaicon-hebing:before {
  content: "\e921";
}
.scopaicon-zhiding:before {
  content: "\e922";
}
.scopaicon-daochu:before {
  content: "\e923";
}
.scopaicon-fanxuanshanchu:before {
  content: "\e924";
}
.scopaicon-sheweibenji:before {
  content: "\e925";
}
.scopaicon-daorushuju:before {
  content: "\e926";
}
.scopaicon-wendangfenxi:before {
  content: "\e927";
}
.scopaicon-baocun:before {
  content: "\e928";
}
.scopaicon-xiangguanziliao:before {
  content: "\e929";
}
.scopaicon-bianjida:before {
  content: "\e92a";
}
.scopaicon-shanchuda:before {
  content: "\e92b";
}
.scopaicon-daoditu18:before {
  content: "\e944";
}
.scopaicon-daohuadan18:before {
  content: "\e945";
}
.scopaicon-guanbi18:before {
  content: "\e946";
}
.scopaicon-shaixuan:before {
  content: "\e92c";
}
.scopaicon-sousuoda:before {
  content: "\e92d";
}
.scopaicon-daobiaoge:before {
  content: "\e92e";
}
.scopaicon-daotab:before {
  content: "\e92f";
}
.scopaicon-quanpingzhankai:before {
  content: "\e930";
}
.scopaicon-xiangzuofan:before {
  content: "\e931";
}
.scopaicon-xiangyoufan:before {
  content: "\e932";
}
.scopaicon-gengduoxiangxia:before {
  content: "\e933";
}
.scopaicon-gengxuoxiangyou:before {
  content: "\e934";
}
.scopaicon-guanbi:before {
  content: "\e935";
}
.scopaicon-guanzhu:before {
  content: "\e936";
}
.scopaicon-riqi:before {
  content: "\e937";
}
.scopaicon-shanchuxiao:before {
  content: "\e938";
}
.scopaicon-tuisong:before {
  content: "\e939";
}
.scopaicon-xiala:before {
  content: "\e93a";
}
.scopaicon-yixuan:before {
  content: "\e93b";
}
.scopaicon-bianjixiao:before {
  content: "\e93c";
}
.scopaicon-fenxi:before {
  content: "\e93d";
}
.scopaicon-fuxuankuang:before {
  content: "\e93e";
}
.scopaicon-fuxuankuangxuanzhong:before {
  content: "\e93f";
}
.scopaicon-tuichudenglu:before {
  content: "\e940";
}

