<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
    <title>民航人员总览</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/person.css" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/moment.js"></script>
    <script type="text/javascript" src="../js/daterangepicker.js"></script>
    <script src="../js/sea.js" id="seajsnode" type="text/javascript"></script>

    <script type="text/javascript" src="../config.js"></script>
    <script type="text/javascript">seajs.use('../js/minhangrenyuan3.4');</script>
</head>

<body>
    <div class="all">
        <div class="top">
            <div class="title">包头服务集—民航人员总览</div>
        </div>
        <div class="content">
            <div style="height: 50px;">
                <select id="myDataHbh" class="drop-down hbh">
                    <option>航班号</option>
                </select>
                <select id="myDataChuFaDi" class="drop-down chuFaDi">
                    <option>出发地邮编</option>
                </select>
                <select id="myDataMuDiDi" class="drop-down muDiDi">
                    <option>目的地邮编</option>
                </select>
                <select id="myDataShen" class="drop-down native-place">
                    <option>省份籍贯</option>
                </select>
                <select id="myDataShi" class="drop-down native-place">
                    <option>市级籍贯</option>
                </select>
                <select id="myDataXian" class="drop-down native-place">
                    <option>区县籍贯</option>
                </select>
                <select id="myDataYear" class="drop-down age-group">
                    <option>请选择年龄段</option>
                    <option value="1">20岁以下</option>
                    <option value="2">20~30岁</option>
                    <option value="3">30~40岁</option>
                    <option value="4">40~50岁</option>
                    <option value="5">50~60岁</option>
                    <option value="6">60~70岁</option>
                    <option value="7">70~80岁</option>
                    <option value="8">80~90岁</option>
                    <option value="9">90~100岁</option>
                </select>
                <select id="myDataSex" class="drop-down sex">
                    <option>请选择性别</option>
                    <option>男</option>
                    <option>女</option>
                </select>
                <input id="query" class="view-button" type="button" value="查看总览" />
                <!-- 日期插件 -->
                <div class="hushi-date">
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-prepend input-group dateranger">
                                <input type="text" id="reservation" class="daterangebox-ipt active" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="pic">
                <div class="font">人员信息表</div>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>航班号</th>
                                <th>姓名</th>
                                <th>证件类型</th>
                                <th>证件号码</th>
                                <th>性别</th>
                                <th>民族</th>
                                <th>籍贯</th>
                                <th>年龄</th>
                                <th>出发地</th>
                                <th>到达地</th>
                                <th>出发时间</th>
                                <th>到达时间</th>
                                <th>重点人员类别标记</th>
                                <th>重点人员类别</th>
                                <th>职业</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pageInfo" style="display: none;">当前显示至<span class="dataSubNum">0</span>条,共<span class="dataCouNum">0</span>条</div>
            <div class="dataPage" style="display: none;">
                <nav aria-label="Page navigation">
                    <ul class="pagination pageControl">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>

</html>
