<div style="padding: 20px;overflow: hidden;">
	<button class="btn button_hover pull-right pull-right xlsbtn" style="margin-left:20px;">数据导出-xls&nbsp;&nbsp;<span class="scopaicon scopaicon-daochu"></span></button>
	<div class="daterangebox pull-right">
		<input type="text" name="reservation" class="daterangebox-ipt active" value="" placeholder="按周期模糊搜索" readonly="">
		<a class="daterangebox-btn" href="javascript:;"></a>
	</div>
	<div class="searchbox pull-right">
		<select class="selectUser" style="width:120px;"></select>
	</div>
</div>
<table class="grid table" style="position: absolute;z-index:1000;">
	<thead>
		<tr>
			<th>序号</th>
			<th>操作点</th>
			<th>内容要求</th>
			<th>内容值</th>
			<th>浏览器</th>
			<th>用户ID</th>
			<th>用户名</th>
			<th>操作时间</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
<div class="list_container">
	<table class="grid table" id="tableLog">
		<thead>
			<tr>
				<th>序号</th>
				<th>操作点</th>
				<th>内容要求</th>
				<th>内容值</th>
				<th>浏览器</th>
				<th>用户ID</th>
				<th>用户名</th>
				<th>操作时间</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>