<div style="padding: 20px;overflow: hidden;">

    <div class="searchbox pull-right">
        <label><input name="keyword" class="searchbox-ipt" placeholder="输入关键字查询" type="text"></label>
        <a class="searchbox-btn" href="javascript:;"></a>
    </div>
    <div class="daterangebox pull-right">
        <input type="text" name="reservation" class="daterangebox-ipt active" value="" placeholder="按周期模糊搜索"
               readonly="">
        <a class="daterangebox-btn" href="javascript:;"></a>
    </div>
</div>

<table class="grid table">
    <thead>
    <tr>
        <th>用户</th>
        <th>开始时间</th>
        <th width="30%">导入文件名称</th>
        <th>数据源名称</th>
        <th>记录数（条）</th>
        <th>备注</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="list_container">
    <table class="grid table" id="tableAudit">
        <tbody>
        </tbody>
    </table>
</div>
