
<div class="data">
<div class="leftType">
    <div id="accordion"  class="accordion leftMenu">
        <span  class="title  " key="dataModel"><span class="icon icon-entity2 " ></span> 实体 <button id="btnAddEntity" class="data-icon add"> </button></span>

        <div class="detail">
            <ul id="listContainer_entity" class="listContainer">

            </ul>
        </div>
        <span  class="title " key="dataRelation"><span class=" icon icon-relationship " ></span> 关系 <button id="btnAddRelation" class="data-icon add"> </button></span>

        <div class="detail">
            <ul id="listContainer_relation"  class="listContainer">

            </ul>
        </div>
        <span  class="title  " key="dataEvent"><span class="icon icon-event2" ></span> 事件 <button id="btnAddEvent" class="data-icon add"> </button></span>

        <div class="detail">
            <ul id="listContainer_event"  class="listContainer">

            </ul>
        </div>
    </div>
</div>
<div class="leftType small">
    <div class="listTypeContainer">
        <ul id="listTypeContainer"></ul>

    </div>
</div>

<div class="content">
    <div class="row" style="position:relative;">
        <div class="paramform" id="property">

        </div>
        <div class="button-bar">
        	<button id="btnSave" class="btn button_hover pull-right"><span class=" analysis-icon save "></span>保存</button>  <button id="btnExport" class="btn pull-right">
       		<span class="icon icon-push"></span> 导出</button>
    	</div>
    </div>
    <div class="row">
        <table id="tablehead"  class="grid table" width="100%">
            <thead>
            <tr>
                <th>序号</th>
                <th>属性</th>
                <th>标签</th>
            </tr>
            </thead>
        </table>
        <div class="tableContainer">
            <table id="propertyTable" class="grid table" width="100%">


            <tbody></tbody>
        </table>
     </div>

    </div>
</div>
</div>
