<link href="../static/scopa/theme/default/harts.css" rel="stylesheet">
<div class="harts row" >
<div class="leftType col-xs-2">
    <div id="accordion" class="accordion leftMenu">
        <ul class="nav navbar-nav">
            <li class="row nav nav-datasource"><a href="#!scopa/harts/module/datasource"><span class="glyphicon glyphicon-align-left"></span><span class="text">数据源</span></a></li>
            <li class="row nav nav-model"><a href="#!scopa/harts/module/model"><span class="glyphicon glyphicon-book"></span><span class="text">数据模型</span></a></li>
            <li class="row nav nav-rule"><a href="#!scopa/harts/module/rule"><span class="glyphicon glyphicon-random"></span><span class="text">战法规则</span></a></li>
            <li class="row nav nav-task"><a href="#!scopa/harts/module/task"><span class="glyphicon glyphicon-tasks"></span><span class="text">任务</span></a></li>
            <li class="row nav nav-mapping"><a href="#!scopa/harts/module/mapping"><span class="glyphicon glyphicon-th-large"></span><span class="text">映射</span></a></li>
        </ul>
    </div>
</div>
<div class="content col-xs-10">
    <!-- 首页 start -->
    <div class="harts-home">
        欢迎使用HARTS战法引擎
    </div>
    <!-- 首页 end -->
    <!-- 数据源 start -->
    <div class="subpage page-datasource" template="harts/datasource"></div>
    <!-- 数据源 end -->
    <!-- 数据模型 start -->
    <div class="subpage page-model" template="harts/model"></div>
    <!-- 数据模型 end -->
    <!-- 战法规则 start -->
    <div class="subpage page-rule" template="harts/rule"></div>
    <!-- 战法规则 end -->
    <!-- 任务 start -->
    <div class="subpage page-task" template="harts/task"></div>
    <!-- 任务 end -->
    <!-- 映射 start -->
    <div class="subpage page-mapping" template="harts/mapping"></div>
    <!-- 映射 end -->
</div>
</div>
