<div class="app">
    <!--
        <ul class="list-app">
            <li class="warn">

                <div url="#!scopa/forewarn">
                    <div class="bg">
                        <p class="title">团伙预警</p>
                        <p class="desc">智能监控重点团伙并预警</p>
                    </div>

                </div>
            </li>
            <li class="control">
                <div url="#!scopa/control">
                    <div class="bg">
                        <p class="title">多元布控</p>
                        <p class="desc">智能多元布控犯罪嫌疑人</p></div>
                </div>
            </li>
            <li class="eventwarn">
                <div url="#!scopa/event">
                    <div class="bg"> <p class="title">重大事件预警</p>

                    <p class="desc">智能监控重大事件并预警</p></div></div>
            </li>
            <li class="point">
                <div url="#!scopa/point">
                    <div class="bg">
                    <p class="title">重点人积分预警</p>

                    <p class="desc">智能监控重点人并定量分析预警</p></div></div>
            </li>
            <li class="case">
                <div url="#!scopa/analysis">
                    <div class="bg">
                        <p class="title">治安态势分析</p>
                        <p class="desc"></p>
                    </div>
                </div>
            </li>
            <li class="case">
                <div url="#!scopa/cba">
                    <div class="bg">
                        <p class="title">案件智能串并</p>
                        <p class="desc">文本挖掘并智能识别串并案件</p>
                    </div>
                </div>
            </li>
            <li class="covert">
                <div url="#!scopa/covert"> <div class="bg"> <p class="title">隐性重点人挖掘</p>

                    <p class="desc">智能监控重点人并挖掘出潜在重点人</p></div></div>
            </li>
        </ul>
    -->

    <ul class="list-app">
        <li class="eventwarn">
            <div>
                <div class="bg"><p class="title">重大事件预警</p>
                </div>
                <ul class="go-page-list">
                    <li url="#!scopa/event" tab="events" role='events'><span>事件分析</span></li>
                    <li url="#!scopa/event" tab="intelligence" role="intelligence"><span>情报收集</span></li>
                    <li url="#!scopa/event" tab="report" role="report"><span>报送管理</span></li>
                    <li url="#!scopa/event" tab="eventforewarn" role="eventforewarn"><span>事件预警</span></li>
                    <li url="#!scopa/event" tab="labels" role="labels"><span>群体分类</span></li>
                </ul>
            </div>
        </li>
        <li class="warn">
            <div>
                <div class="bg">
                    <p class="title">重点人员管控</p>
                </div>
                <ul class="go-page-list">
                    <li url="#!scopa/control" role="control"><span>多元布控</span></li>
                    <li url="#!scopa/covert" role="covert"><span>隐性重点人发现</span></li>
                    <li url="#!scopa/forewarn" role="forewarn"><span>智能社会网络分析</span></li>
                    <li url="#!scopa/point" role="point"><span>重点人行为特征智能分析</span></li>
                     <li url="#!scopa/dynamic" role="dynamic"><span>高危地域/群体管控</span></li>
                </ul>
            </div>
        </li>
        <li class="case">
            <div>
                <div class="bg">
                    <p class="title">综合治安研判</p>
                </div>
                <ul class="go-page-list">
                    <li url="#!scopa/analysis" role="analysis"><span>治安态势分析</span></li>
                    <li url="#!scopa/cba" role="cha"><span>案件智能串并分析</span></li>
                </ul>
            </div>
        </li>
    </ul>
</div>