<div class="bread-nav">
	<ol class="breadcrumb">
		<li> <span class="goApp" style="cursor: pointer;">应用</span></li>
		<li>隐性重点人发现</li>
	</ol>
</div>
<div class="covert-box">
	<div class="covert-content">
		<div class="covert-tags">
		</div>
		<div class="covert-list">
			<div class="filters">
				<div class="pull-right">
					<div class="daterangebox pull-left">
				        <label><input type="text" name="reservation" class="daterangebox-ipt" value="" placeholder="按周期模糊搜索" readonly=""></label>
				        <a class="daterangebox-btn" href="javascript:;">日期</a>
				    </div>
				    <div class="searchbox pull-left">
				    	<label><input name="keyword" class="searchbox-ipt" placeholder="输入姓名或身份证号" type="text"></label>
		        		<a class="searchbox-btn" href="javascript:;"></a>
				    </div>
			    </div>
			</div>
			<div class="data-list">
				<table class="grid tablesorter newtable">
					<thead>
						<tr>
							<th class="width10">编号</th>
							<th class="width10">姓名</th>
							<th class="width15">身份证号</th>
							<th class="width15 order-data order-desc" data-order-filed="lastActiveTime">最近活动时间</th>
							<th class="width20 order-data" data-order-filed="activity">活跃度</th>
							<th class="width20 order-data" data-order-filed="risk">危险度</th>
							<th class="width10">操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	<div class="covert-info">
		<div class="base-info">
			<div class="infos">
			</div>
			<div class="events">
			</div>
		</div>
		<div class="statistics-info">
			<div class="relatedchart"></div>
		</div>
	</div>
</div>