<h1>李三犯罪记录</h1>
<p>姓名：聂磊<br>
方言口音：青岛口音<br>
性别：男<br>
出生日期：1967年7月17日<br>
身份证号：370202196707170017<br>
身高：1.80米<br>
其它证件：610422196707173636<br>
通缉日期：2010年6月23日<br>
通缉编号：公缉[2010]37号<br>
曾用姓名：<span>张泷</span><br>
户籍住址：山东省青岛市市南区宁夏路139号3号楼1单元201户</p>

<p>1999年7月16日，<span>聂磊</span>当时在中山路开办红星游乐城，有三人为安某经营的龙山游戏室发广告，来到红星游乐城，双方打了起来。当晚，聂磊得知情况后，将安某训斥后，才将被打的三人送往医院救治，后其中一人抢救无效死亡。案发后，聂磊对被害人家属进行安抚，为死者购买墓地，并向死者父母提供一套住房，每月付给他们5000元钱。<br>
因怀疑妻子周某与一名叫<span>朱某</span>的男子有不正当关系，聂磊指使几个手下，于2009年4月7日将朱某带到昌乐路一家茶楼，将其面部打伤。后来聂磊感觉到，朱某并未因此有所收敛。当年4月13日，朱某刚走出小区便被劫持至面包车上，对方把事先准备好的硫酸倒在身上……<br>
2000年4月10日凌晨，聂磊在延吉路波尔卡迪厅娱乐时，王某等人误闯入他的包间。聂磊的手下便持枪冲进王某所在的包间，双方争执不下，这些人便朝王某开枪，击中其颈部、胸部，导致重伤。事后，聂磊命两个弟兄跟王某谈判，以赔偿25万元为条件，要求他不向公安机关报案。<br>
2000年10月12日凌晨3时，聂磊因怀疑青岛辉煌人间娱乐有限公司经理<span>李某</span>打伤了自己一名手下，指使几名弟兄驾车跟踪其至台东六路乾坤火锅城，并闯入包间，将李某强行挟持到宁夏路东段的一处山坡进行围殴，打断了对方的双腿。<br>
2006年12月5日，因33路公交车队停车等原因影响“新艺城夜总会”生意，聂磊指使手下殴打车队队长，伤情为轻微伤。<br>
2010年3月27日，犯罪嫌疑人聂磊指使多名犯罪嫌疑人持械窜至山东省青岛市颐中皇冠假日大酒店夜总会打伤员工多人，并损坏物品若干。<br>
2010年9月1日，“聂磊案”事发，聂磊因涉嫌寻衅滋事罪被市南公安分局刑事拘留，同年9月30日因涉嫌组织卖淫罪经市南区检察院批准逮捕，次日由市南公安分局执行逮捕。同年11月30日因涉嫌组织、领导、参加黑社会性质组织罪，由市南公安分局重新计算侦查羁押期限。<br>
2011年12月20日，青岛市中级人民法院在胶州法院大法庭一审公开开庭，审理聂磊涉嫌黑社会性质组织犯罪案中以聂磊为首的32名被告人。<br>
2012年2月21日，山东省人民检察院检察长国家森在山东省两会上披露，备受关注的青岛聂磊黑社会性质犯罪组织一案中，已有30多名“保护伞”被查处。<br>
2013年8月7日，公安部工作组将潜逃3年多的山东青岛聂磊涉黑组织骨干成员丁某从韩国首尔押解回青岛。此前，在韩国警务执法部门的大力协助和中国驻韩警务联络官的多方协调下，丁某被成功抓捕归案。</p>

<p>2010年9月，按照公安部、省公安厅有关部署，在市委、市政府领导下，青岛公安机关经过深入调查、缜密侦查，一举摧毁了以聂磊为首的涉嫌黑社会性质犯罪组织。截至9月7日，该犯罪组织首犯聂磊及130余名成员已被抓获归案。经公安机关初步侦查，该犯罪组织涉嫌组织、领导、参加黑社会性质组织，故意伤害，非法持有枪支弹药，组织卖淫，贩毒，寻衅滋事，敲诈勒索，开设赌场等多项犯罪。</p>