<div class="bread-nav">
	<ol class="breadcrumb">
		<li> <span class="goApp" style="cursor: pointer;">应用</span></li>
		<li>智能社会网络分析</li>
	</ol>
</div>
<div class="forewarn-box">
	<div class="forewarn-tags">
	</div>
	<div class="forewarn-content">
		<div class="forewarn-list">
			<div class="filters">
				<div class="pull-right">
					<!--<div class="daterangebox pull-left">-->
				        <!--<label><input type="text" name="reservation" class="daterangebox-ipt" value="" placeholder="按周期模糊搜索" readonly=""></label>-->
				        <!--<a class="daterangebox-btn" href="javascript:;">日期</a>-->
				    <!--</div>-->
					<!-- <div class="group-types pull-left">
						<select class="select">
						</select>
					</div> -->
				    <div class="searchbox pull-left">
				    	<label><input name="keyword" class="searchbox-ipt" placeholder="输入关键字查询" type="text"></label>
		        		<a class="searchbox-btn" href="javascript:;"></a>
				    </div>
			    </div>
			</div>
			<div class="data-list">
				<table class="grid tablesorter newtable">
					<thead>
						<tr>
							<th class="fix60">编号</th>
							<th class="fix100">团伙类型</th>
							<th class="fix100">团伙人数</th>
							<th class="fix-time order-data order-desc" data-order-filed="lastActiveTime">最新活动时间</th>
							<th class="fix-statistics order-data" data-order-filed="activity">活跃度</th>
							<th class="fix-statistics order-data" data-order-filed="risk">危险度</th>
							<th class="fix-statistics order-data" data-order-filed="density">聚集度</th>
							<th class="fix60">研判</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		<div class="forewarn-info">
			
		</div>
	</div>
</div>