<div id="graphMenu" class="graphmenu sbody2">
	<div class="graphmenu-main">
		<ul class="graphmenu-content">
			<li class="graphmenu-btn graphmenu-expand-entity" submenu="expand-entity"><span class="icon"></span><span class="text">实体扩展</span></li>
			<li class="graphmenu-btn graphmenu-expand-event" submenu="expand-event"><span class="icon"></span><span class="text">事件扩展</span></li>
			<li class="graphmenu-btn graphmenu-expand-relation" submenu="expand-relation"><span class="icon"></span><span class="text">关系推演</span></li>
			<li class="graphmenu-btn graphmenu-view" submenu="view"><span class="icon"></span><span class="text">显示</span></li>
			<li class="graphmenu-btn graphmenu-notes" action="notes"><span class="icon"></span><span class="text">便签</span></li>
			<li class="graphmenu-btn graphmenu-delete" action="delete"><span class="icon"></span><span class="text">删除</span></li>
			<li class="graphmenu-btn graphmenu-delete-other" action="delete-other"><span class="icon"></span><span class="text">反选删除</span></li>
			<li class="graphmenu-btn graphmenu-compare-event" action="compare-event"><span class="icon"></span><span class="text">事件比对</span></li>
    	</ul>
	</div>
	<div class="graphmenu-sub" for="expand-entity">
		<ul>
			<li><a href="javascript:;" action="expand-entity" param="all"><span>全部实体</span></a></li>
			<li><a href="javascript:;" action="expand-entity" param="more"><span>条件扩展</span></a></li>
			<li><a href="javascript:;" action="expand-entity" param="special"><span>实体收回</span></a></li>
		</ul>
	</div>
	<div class="graphmenu-sub" for="expand-event">
		<ul>
			<li><a href="javascript:;" action="expand-event" param="all"><span>全部事件</span></a></li>
			<li><a href="javascript:;" action="expand-event" param="more"><span>条件扩展</span></a></li>
			<li><a href="javascript:;" action="expand-event" param="special"><span>事件收回</span></a></li>
		</ul>
	</div>
	<div class="graphmenu-sub" for="expand-relation">
		<ul>
			<li><a href="javascript:;" action="expand-relation" param="all"><span>直接推演</span></a></li>
			<li><a href="javascript:;" action="expand-relation" param="special"><span>条件推演</span></a></li>
		</ul>
	</div>
	<div class="graphmenu-sub" for="view">
		<ul>
			<li><a href="javascript:;" action="view-map"><span>地图</span></a></li>
			<li><a href="javascript:;" action="view-file"><span>档案</span></a></li>
		</ul>
	</div>
</div>