<div class="homesearch">
	<div class="searchbar">
		<input class="searchbar-input" type="text" name="keywords" placeholder="请输入身份证号、姓名、车牌号、手机号等" />
		<a class="searchbar-close" href="javascript:;" title="关闭搜索"></a>
		<a class="searchbar-submit" href="javascript:;">搜索</a>
	</div>
	<ul class="searchtype">
		<li title="全部" type="all">全部</li>
		<li title="实体" type="entity">实体</li>
		<li title="关系" type="relation">关系</li>
		<li title="文档" type="media">文档</li>
	</ul>
</div>
<div class="home-searchpage">
	<div class="searchlist box-shadow">
		<div class="resultlist"></div>
	</div>
	<div class="resultinfo box-shadow">
		<div class="propinfo">
			<div class="title">副属性</div>
			<div class="proplist">
				<div class="propitem"></div>
			</div>
		</div>
		<div class="snapshotinfo">
			<div class="title">含有该对象的研判子图</div>
			<div class="snapshotlist">
				<div class="snapshotitem"></div>
			</div>
		</div>
	</div>
</div>