.page-newsearch * {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
@font-face {font-family: 'iconfont';
    src: url('./fonts/iconfont.eot'); /* IE9*/
    src: url('./fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('./fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.page-newsearch body {
	font-size: 14px;
	font-family: "微软雅黑";
	background:#edf2f3;
	color: #555;
}
.page-newsearch input,.page-newsearch a,.page-newsearch button {
	outline: none;
	font-size: 14px;
}
.page-newsearch .iconfont{
    font-family:"iconfont" !important;
    font-size:14px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.page-newsearch .table {
	display: table;
	width: 100%;
}
.page-newsearch .row {
	display: table-row;
}
.page-newsearch .row > div {
	display: table-cell;
	vertical-align: middle;
}
.page-newsearch .search-container {
	padding:5px;
}
.page-newsearch .flex-box{
	display: -webkit-box;
	-webkit-box-pack: justify;
	-webkit-box-align: center;/*垂直居中*/
}
.page-newsearch .flex-box > div {
	-webkit-box-flex: 1;
	margin: 5px;
}
.page-newsearch .search-card {
	/**border:1px solid #ebebeb;**/
	min-height:500px; 
	width: 100px;
	padding: 5px;
	transition: -webkit-transform 1s ease-in-out 0s; 
	transform : translateX(25vw);
}
.page-newsearch .search-card p,.page-newsearch .result-card p{
	margin-bottom: 0;
}
.page-newsearch .result-card {
	/**border:1px solid #ebebeb;**/
	min-height:500px;
	width: 100px;
	-webkit-box-flex:1.5 !important; 
	transition: -webkit-transform 0.5s ease-in-out 0s; 
	opacity: 0;
	transform : translateX(75vw);
}
.page-newsearch .show {
	opacity: 1;
}
.page-newsearch .search-keyword {
	border-bottom: 1px solid #ccc;
	margin-top: 65px;
}
.page-newsearch .search-keyword i {
	color:#78b3fd;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}
.page-newsearch .key-word {
	border: none;
    height: 40px;
    width: calc(100% - 60px);
    padding-left:10px;
}
.page-newsearch .super-search {
	background: #fff;
	transition:-webkit-transform 0.5s ease-in-out 0s;
}
.page-newsearch .super-search-title {
	cursor: pointer;
	padding: 10px;
	background: rgba(120,179,253,.1);
}
.page-newsearch .super-search-title i {
	margin-left: 5px;
	display: inline-block;
	transition: -webkit-transform 0.3s linear 0s;
}
.page-newsearch .select-chip {
	position: relative;
	display: inline-block;
}
.page-newsearch .select-title {
	display: block;
    border: 1px solid #ccc;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    padding-right: 40px;
    cursor: pointer;
}
.page-newsearch .select-title i {
	margin-left: 15px;
	transition: -webkit-transform 0.3s linear 0s;
	display: inline-block;
	position: absolute;
}
.page-newsearch .select-title-rotate {
	-webkit-transform:rotate(-90deg);
}
.page-newsearch .select-option {
	display: none;
	text-align: center;
    border: 1px solid #ccc;
    border-top:none;
    position: absolute;
    min-width: 100%;
    background: #fff;
    z-index: 10;
    max-height: 150px;
    overflow: hidden;
}
.page-newsearch .select-scroll {
	max-height:150px;
	overflow-y:scroll; 
}
.page-newsearch .select-option dd {
	border-top:1px solid #ccc;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	white-space:nowrap;
}
.page-newsearch .select-option dd:hover {
	background: #78b3fd;
	color: #fff;
}
.page-newsearch .search-item,.page-newsearch .condition-result {
	margin-bottom: 10px;
}
.page-newsearch .add-condition,.page-newsearch .remove-condition {
	font-size: 20px;
    line-height: 30px;
    position: absolute;
    margin-left: 10px;
    color: #78b3fd;
    cursor: pointer;
}
.page-newsearch .remove-condition {
	margin-left: 40px;
}
.page-newsearch .condition-result span{
	display: inline-block;
	border:1px solid #ccc;
	padding:0 10px;
	height: 30px;
	line-height: 30px;
}
.page-newsearch .super-search-btn {
	padding: 20px 0;
	text-align: center;
}
.page-newsearch button {
	border:1px solid #78b3fd;
	padding:5px 15px;
	background: #fff;
	color: #78b3fd;
	cursor: pointer;
}
.page-newsearch .clear-conditions {
	float: right;
    height: 30px;
    line-height: 30px;
    padding: 0 10px !important;
}
.page-newsearch .tabs-chip {
	text-align: center;
	color: rgba(120,179,253,.5);
	padding:20px 25px;
}
.page-newsearch .search-tabs {
	transition:-webkit-transform 0.5s ease-in-out 0s;
}
.page-newsearch .search-tabs i {
	font-size: 50px;
	line-height: 50px;
}
.page-newsearch .tabs-title {
	border-top:1px solid #ccc;
	padding-top:10px;
	padding-left: 10px;
}
.page-newsearch .tab-item {
	cursor: pointer;
}
.page-newsearch .tab-item.current {
	color: #78b3fd
}
.page-newsearch .item-icon,.page-newsearch .item-info {
	padding:10px;
	border-bottom: 1px solid #ccc;
}
.page-newsearch .item-icon {
	width: 60px;
	padding-right: 0 !important;
}
.page-newsearch .item-icon i {
	font-size: 50px;
}
.page-newsearch .item-info p {
}
.page-newsearch .item-info p:last-child {
	margin-bottom: 0;
}

.page-newsearch .result-item .item-info em {
	color: #2382d2;
	font-weight: bold;
}
.page-newsearch .to-do {
	float: right;
}
.page-newsearch .to-do i {
	font-size: 20px;
	color:#78b3fd;
	margin-left: 10px;
	cursor: pointer;
}
.page-newsearch .condition-chip,.page-newsearch .condition-value {
	display: inline-block;
}
.page-newsearch .search-container > div {
	height: calc(100vh - 80px);
}
.page-newsearch .key-word {
	background: none;
}
.page-newsearch .bg-white {
	background:#fff;
}
.page-newsearch .super-card {
	display: none;
}
.page-newsearch .search-label {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 0;
}
.page-newsearch .search-label.border-none {
	border-bottom: none;
}
.page-newsearch .condition-card {
	padding: 10px;
	display: none;
}
.page-newsearch .scroll-view {
	height:calc(100vh - 150px);
}
.page-newsearch .item-icon img {
	width: 80px;
}
.page-newsearch .result-item:hover{
	background-color:#e9f4ff;
}
.page-newsearch .to-do .icon {
	font-size: 20px;
	margin-right: 10px;
}
.page-newsearch .search-tabs-down {
	transform:translateY(50px);
}
.page-newsearch .search-tabs-down-down {
	transform:translateY(250px);
}
.page-newsearch .super-search-up {
	transform:translateY(-145px);
}
.page-newsearch .result-card .loading {
	margin-top: calc(50vh - 100px);
}
.page-newsearch .animat-focus {
	-webkit-animation:page-newsearch-focus 1.5s ease-out;
}
@-webkit-keyframes page-newsearch-focus
{
	0% {
		box-shadow:0 0 0 red;
	}
	50%{
		box-shadow:0 0 5px red;
	}
	100% {
		box-shadow:0 0 0 red;
	}
}
.page-newsearch .current-page,.page-newsearch .total-num {
	color: #78b3fd;
	margin: 0 3px;
}
#case-date {
	display: none;
	width: 200px;
	padding: 2px;
}
.no-data {
	text-align: center;
    padding: 50px;
    font-size: 18px;
}
.clear-key {
	font-size: 20px;
	display: none;
	cursor: pointer;
}