<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
	<title>七类人员特征分析</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/plugins/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/personnelFeature.css" />
	<link rel="stylesheet" type="text/css" href="../css/plugins/daterangepicker-bs3.css" />
	<link rel="stylesheet" type="text/css" href="../css/common.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

    <script type="text/javascript" src="../js/plugins/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/plugins/echarts.min.js"></script>
    <script type="text/javascript" src="../js/common/common.js"></script>
    <script type="text/javascript" src="../js/plugins/moment.js"></script>
    <script type="text/javascript" src="../js/plugins/daterangepicker.js"></script>
    <script type="text/javascript" src="../js/web/featureSeven.js"></script>

</head>

<body>
   <div class="all">
       <div class="top">
       	  <div class="title">七类人员特征分析</div>
       </div>
   		<!--图表菜单-->
   		<div class="menus-chart mc_pic">
   			<!--民族-->
   			<div class="nation alike-left">
   				<p class="titles">民族</p>
   				<div id="nation" class="alike-center"></div>
   			</div>
   			<!--性别-->
   			<div class="sex alike-right">
   				<p class="titles">性别</p>
   				<div id="sex" class="alike-center"></div>
   			</div>
   			<!--籍贯-->
   			<div class="native-place alike-left">
   				<p class="titles">籍贯</p>
   				<div id="nativePlace" class="alike-center"></div>
   			</div>
   			<!--年龄-->
   			<div class="age alike-right">
   				<p class="titles">年龄</p>
   				<div id="age" class="alike-center"></div>
   			</div>
   			<!--职业-->
   			<div class="jobs alike-left">
   				<p class="titles">职业</p>
   				<div id="jobs" class="alike-center"></div>
   			</div>
   			<!--学历-->
   			<div class="culture alike-right">
   				<p class="titles">文化程度</p>
   				<div id="culture" class="alike-center"></div>
   			</div>
   			<!--口音-->
   			<div class="accent alike-right">
   				<p class="titles">口音</p>
   				<div id="accent" class="alike-center"></div>
   			</div>
   			<!--专长-->
   			<div class="speciality alike-left">
   				<p class="titles">专长</p>
   				<div id="speciality" class="alike-center"></div>
   			</div>
   			<!--现住址
   			<div class="address alike-left">
   				<p class="titles">现住址</p>
   				<div id="address" class="alike-center"></div>
   			</div>
			-->
   		</div>
   </div> 
	
</body>
</html>