<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/plugins/bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/plugins/daterangepicker-bs3.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/plugins/bootstrap-chosen.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/gwPersonDetails.css"/>
	</head>
	<body>
		<div class="all">
			<div class="top">
	       	  <div class="title">高危人员区域分析</div>
	        </div>
			<div class="wrap">
				<div class="gwPD_table">
					<p>高危人群统计</p>
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<th>所属辖区</th>
							<th>案件类型</th>
							<th>案件细类</th>
							<th>作案特点</th>
							<th>案犯来源省市</th>
							<th>案犯来源地市</th>
							<th>案犯来源区县</th>
							<th>涉案人员数量</th>
							<th>涉案人员总数量</th>
							<th>区域占比</th>
						</tr>
						<tr>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>11</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
						</tr>
					</table> 
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/plugins/jquery-1.9.1.min.js"></script>
	    <script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	    <script type="text/javascript" src="../js/plugins/moment.js"></script>
	    <script type="text/javascript" src="../js/plugins/daterangepicker.js"></script>
	    <script type="text/javascript" src="../js/common/common.js"></script>
		<script type="text/javascript" src="../js/common/api.js"></script>
		<script type="text/javascript" src="../js/common/apiTools.js"></script>
	</body>
</html>
