<!DOCTYPE HTML>
<!---
    author: liuquanhai
-->
<html lang="zh-cn">
<head>
	<title>住宿人员区域分析</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="../css/plugins/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/zhusuPerson.css" />
	<link rel="stylesheet" type="text/css" href="../css/common.css" />
	<link rel="stylesheet" type="text/css" href="../css/plugins/daterangepicker-bs3.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

    <script type="text/javascript" src="../js/plugins/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/plugins/echarts.min.js"></script>
    <script type="text/javascript" src="../js/common/common.js"></script>
    <script type="text/javascript" src="../js/plugins/moment.js"></script>
    <script type="text/javascript" src="../js/plugins/daterangepicker.js"></script>
    <script type="text/javascript" src="../js/web/zhusuPerson.js"></script>

</head>

<body>
   <div class="all">
       <div class="top">
       	  <div class="title">住宿人员区域分析</div>
       </div>

       <div class="content">
       	    <div class="hushi-type">

                <form action="" name="myform" style="width: 280px;float: left;margin-left: 30px;">
					选择辖区:
					<select name="sheng" id="yijixiaqu">
						<option value="">一级辖区</option>
					</select>
					<select name="shi" id="erjixiaqu">
						<option value="">二级辖区</option>
					</select>
					<!-- <select name="qu" id="">
						<option value="">选择地区</option>
					</select> -->
				</form>

	            <input id="find" type="button" value="查询" style="height:25px;background: -webkit-linear-gradient(left, #77a9fe , #7fc8ff);color: #dfe3ec;padding:0 6px;border: 1px solid #7dc3ff;"/>
	        </div>


	        <div class="hushi-date">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-group dateranger">
                            <input type="text" id="reservation" class="daterangebox-ipt active" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="pic">
            	<div class="font">辖区详细信息</div>
	            <div id="userLiveness" style="width: 1200px;height:600px;"></div>
	        </div>



       </div>
   </div> 
	
</body>
</html>