<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>详细信息-无记录</title>
	<link rel="stylesheet" type="text/css" href="../../css/plugins/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/jl.css" />
</head>

<body>
	<!-- 页面容器start -->
	<div class="all">
		<!-- 导航栏start -->
		<div class="top">
			<a href="#"><img src="../../img/nav-logo.png"></a>
			<div class="title">
				<a href="http://10.101.139.21:8777/backgroundReciew.html?sessionId=1">背景审查</a>
			</div>
			<div class="title">
				<a href="http://10.101.139.21:8777/taskManagement.html?sessionId=1">任务列表</a>
			</div>
			<div class="role">
				<a href="#">admin</a>
			</div>
		</div>
		<!-- 导航栏end -->
		<!-- 页面主体内容信息start -->
		<div class="container-fluid content">
			<!-- 本人信息start -->
			<div class="own-info-box">
				<div class="img-box"><img src="../../img/icon.jpg"></div>
				<div class="detail-box">
					<div class="person-info">
						<div class="person-info-row row">
							<div class="col-md-4">姓名：<span class="person-name">张川虎</span></div>
							<div class="col-md-8">身份证号：<span class="person-sfzh">150403197702132071</span></div>
						</div>
						<div class="person-info-row row">
							<div class="col-md-4">性别：<span class="person-sex">男</span></div>
							<div class="col-md-8">户籍地：<span class="person-domicile">内蒙古呼和浩特市</span></div>
						</div>
						<div class="person-info-row row">
							<div class="col-md-4">民族：<span class="person-nation">汉</span></div>
							<div class="col-md-8">现住地：<span class="person-residence">内蒙古包头市XX区XX路</span></div>
						</div>
						<div class="person-info-row row">
							<div class="col-md-12">职业：<span class="person-occupation">退役军人，教师，出租车司机</span></div>
						</div>
					</div>
					<div class="occupation">
						职业：
						<span class="person-occupation2">
									<span class="label label-default">退役军人</span>
						<span class="label label-default">教师</span>
						<span class="label label-default">出租车司机</span>
						</span>
					</div>
					<div class="person-attribute">
						<div class="social-attr">
							基础社会属性：<span class="label label-default">常住人口</span>
						</div>
						<div class="security-person">
							社会保障人员：
							<span class="label label-default">残疾人员</span>
							<span class="label label-default">低保人员</span>
							<span class="label label-default">医保人员</span>
						</div>
					</div>
				</div>
				<!-- 本人标签信息start -->
				<div class="tags row">
					<div class="col-md-2 col-md-offset-1">红色标签：</div>
					<div class="col-md-9 labels">
						<span class="label label-danger">部下发涉稳人员</span>
						<span class="label label-danger">部下发上访人员</span>
					</div>
					<div class="col-md-2 col-md-offset-1">黄色标签：</div>
					<div class="col-md-9 labels">
						<span class="label label-warning">打处记录</span>
						<span class="label label-warning">经侦黑名单</span>
						<span class="label label-warning">工作对象</span>
					</div>
					<div class="col-md-2 col-md-offset-1">蓝色标签：</div>
					<div class="col-md-9 labels">
						<span class="label label-info">进京上访</span>
						<span class="label label-info">跨市活动</span>
						<span class="label label-info">频繁更换酒店</span>
					</div>
				</div>
				<!-- 本人标签信息end -->
				<br style="clear:both;">
			</div>
			<!-- 本人信息end -->

			<!-- 直系亲属信息列表start -->
			<div class="immediate-family-list">
				<h3>直系亲属信息</h3>

				<!-- 直系亲属信息start -->
				<div class="family-info-box">
					<div class="img-box"><img src="../../img/icon.jpg"></div>
					<div class="detail-box">
						<div class="person-info">
							<div class="person-info-row row">
								<div class="col-md-4">姓名：<span class="person-name">张川虎</span></div>
								<div class="col-md-8">身份证号：<span class="person-sfzh">150403197702132071</span></div>
							</div>
							<div class="person-info-row row">
								<div class="col-md-4">性别：<span class="person-sex">男</span></div>
								<div class="col-md-8">户籍地：<span class="person-domicile">内蒙古呼和浩特市</span></div>
							</div>
							<div class="person-info-row row">
								<div class="col-md-4">民族：<span class="person-nation">汉</span></div>
								<div class="col-md-8">现住地：<span class="person-residence">内蒙古包头市XX区XX路</span></div>
							</div>
							<div class="person-info-row row">
								<div class="col-md-12">职业：<span class="person-occupation">退役军人，教师，出租车司机</span></div>
							</div>
						</div>
						<div class="occupation">
							职业：
							<span class="person-occupation2">
									<span class="label label-default">退役军人</span>
							<span class="label label-default">教师</span>
							<span class="label label-default">出租车司机</span>
							</span>
						</div>
						<div class="person-attribute">
							<div class="social-attr">
								基础社会属性：<span class="label label-default">常住人口</span>
							</div>
							<div class="security-person">
								社会保障人员：
								<span class="label label-default">残疾人员</span>
								<span class="label label-default">低保人员</span>
								<span class="label label-default">医保人员</span>
							</div>
						</div>
					</div>
					<!-- 本人标签信息start -->
					<div class="tags row">
						<div class="col-md-2 col-md-offset-1">红色标签：</div>
						<div class="col-md-9 labels">
							<span class="label label-danger">部下发涉稳人员</span>
							<span class="label label-danger">部下发上访人员</span>
						</div>
						<div class="col-md-2 col-md-offset-1">黄色标签：</div>
						<div class="col-md-9 labels">
							<span class="label label-warning">打处记录</span>
							<span class="label label-warning">经侦黑名单</span>
							<span class="label label-warning">工作对象</span>
						</div>
						<div class="col-md-2 col-md-offset-1">蓝色标签：</div>
						<div class="col-md-9 labels">
							<span class="label label-info">进京上访</span>
							<span class="label label-info">跨市活动</span>
							<span class="label label-info">频繁更换酒店</span>
						</div>
					</div>
					<!-- 本人标签信息end -->
				</div>
				<!-- 直系亲属信息end -->
				<!-- 直系亲属信息start -->
				<div class="family-info-box">
					<div class="img-box"><img src="../../img/icon.jpg"></div>
					<div class="detail-box">
						<div class="person-info">
							<div class="person-info-row row">
								<div class="col-md-4">姓名：<span class="person-name">张川虎</span></div>
								<div class="col-md-8">身份证号：<span class="person-sfzh">150403197702132071</span></div>
							</div>
							<div class="person-info-row row">
								<div class="col-md-4">性别：<span class="person-sex">男</span></div>
								<div class="col-md-8">户籍地：<span class="person-domicile">内蒙古呼和浩特市</span></div>
							</div>
							<div class="person-info-row row">
								<div class="col-md-4">民族：<span class="person-nation">汉</span></div>
								<div class="col-md-8">现住地：<span class="person-residence">内蒙古包头市XX区XX路</span></div>
							</div>
							<div class="person-info-row row">
								<div class="col-md-12">职业：<span class="person-occupation">退役军人，教师，出租车司机</span></div>
							</div>
						</div>
						<div class="occupation">
							职业：
							<span class="person-occupation2">
										<span class="label label-default">退役军人</span>
							<span class="label label-default">教师</span>
							<span class="label label-default">出租车司机</span>
							</span>
						</div>
						<div class="person-attribute">
							<div class="social-attr">
								基础社会属性：<span class="label label-default">常住人口</span>
							</div>
							<div class="security-person">
								社会保障人员：
								<span class="label label-default">残疾人员</span>
								<span class="label label-default">低保人员</span>
								<span class="label label-default">医保人员</span>
							</div>
						</div>
					</div>
					<!-- 本人标签信息start -->
					<div class="tags row">
						<div class="col-md-2 col-md-offset-1">红色标签：</div>
						<div class="col-md-9 labels">
							<span class="label label-danger">部下发涉稳人员</span>
							<span class="label label-danger">部下发上访人员</span>
						</div>
						<div class="col-md-2 col-md-offset-1">黄色标签：</div>
						<div class="col-md-9 labels">
							<span class="label label-warning">打处记录</span>
							<span class="label label-warning">经侦黑名单</span>
							<span class="label label-warning">工作对象</span>
						</div>
						<div class="col-md-2 col-md-offset-1">蓝色标签：</div>
						<div class="col-md-9 labels">
							<span class="label label-info">进京上访</span>
							<span class="label label-info">跨市活动</span>
							<span class="label label-info">频繁更换酒店</span>
						</div>
					</div>
					<!-- 本人标签信息end -->
				</div>
				<!-- 直系亲属信息end -->

				<br style="clear:both;">
			</div>
			<!-- 直系亲属信息列表end -->


		</div>
		<!-- 页面主体内容信息end -->
	</div>
	<!-- 页面容器end -->
</body>

</html>