<div class="toolbar">
    <button class="btn button_hover pull-left" id="btnAdd"><span class="icon icon-add"></span> 新建</button>
    <button class="btn button_hover pull-left" id="btnCnf"><span class="icon icon-config"></span> 配置</button>
</div>
<table class="table grid" id="table_model">
    <thead>
    <tr>
        <th>序号</th>
        <th>ID</th>
        <th>名称</th>
        <th>类型</th>
        <th>创建时间</th>
        <th colspan="3">操作</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
