<div class="part-rule" >
    <div class="content ">
        <div class="toolbar">
            <button class="btn button_hover pull-left" id="btnAdd"><span class="icon icon-add"></span> 新建</button>
            <!--<button class="btn button_hover pull-left" id="btnDiff"><span class="icon icon-diff"></span> Diff</button>-->
        </div>
        <table class="table grid" id="table_rule">
            <thead>
            <tr>
                <th>序号</th>
                <th>ID</th>
                <th>名称</th>
                <th>状态</th>
                <th>创建时间</th>
                <th style="width: 150px">描述</th>
                <th style="width: 150px">数据模型</th>
                <th style="width: 150px">预设</th>
                <th style="width: 150px">DSL</th>
                <th colspan="4">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="part-ruleTask" >
    <div class="content ">
        <div class="toolbar">
            <!--<button class="btn button_hover pull-left" id="btnDeltaJob"><span class="icon icon-delta"></span> 新建增量任务</button>-->
            <!--<button class="btn button_hover pull-left" id="btnFullJob"><span class="icon icon-full"></span> 新建全量任务</button>-->
            <button class="btn button_hover pull-right" id="btnBack"><span class="icon icon-add"></span> 返回</button>
        </div>
        <div class="rule-content"></div>
        <table class="table grid" id="table_ruleTask">
            <thead>
            <tr>
                <th>序号</th>
                <th>ID</th>
                <th>类别</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>结束时间</th>
                <th>进度</th>
                <th>规则ID</th>
                <th>JSON内容</th>
                <th>错误信息</th>
                <!--<th>操作</th>-->
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="nodeInfo" style="display: none"></div>