
<!--<div class="col-xs-12">状态 <select name="select_status" id="select_status" class="select select_status" style="width: 10%">
    <option value="running">running</option>
    <option value="failed">failed</option>
    <option value="finished">finished</option>
</select></div>
<div class="col-xs-12">类型 <select name="select_category" id="select_category" class="select select_category" style="width: 10%">
    <option value="rule">rule</option>
    <option value="datasource">datasource</option>
</select></div>
<div class="toolbar">
    <button class="btn button_hover pull-left" id="btnList"><span class="icon icon-list"></span>列表</button>
</div>-->
<table class="table grid" id="table_task">
    <thead>
    <tr>
        <th>序号</th>
        <th>ID</th>
        <th>类型</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>结束时间</th>
        <th>REF</th>
        <th style="width: 300px">JSON内容</th>
        <th>错误信息</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
    