<div class="base-info hidden">comments</div>
<div class="modules">
    <div class="module-panels icons-box">
        <div class="panels-bar">通用字体</div>
        <div class="panels-information">所有ICON圆角2px，线粗2px，大小为2X*2X，根据不同使用场景，相同ICON会有不同尺寸但线粗不变。</div>
        <div class="panels-box">
        </div>
        <div class="panels-interpretation"></div>
        <div class="panels-example"></div>
    </div>
    <div class="module-panels btns-box">
        <div class="panels-bar">通用按钮</div>
        <div class="panels-information"></div>
        <div class="panels-box">
            <div class="item-box pull-left">
                <div class="item-box-title">常规按钮</div>
                <div class=item-box-des>常规可用按钮为#77aaff-#7fc7ff颜色渐变,hover状态下,弥散投影样式与按钮颜色相同为#77aaff-#7fc7ff颜色渐变,透明度为0.88.</div>
                <ul class="btns-list">
                    <li>
                        <span class="btn-current">常规按钮</span>
                        <span class="item-txt"></span>
                    </li>
                    <li>
                        <span class="btn-current-disabled">常规按钮</span>
                        <span class="item-txt"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panels-interpretation"></div>
        <div class="panels-example"></div>
    </div>
</div>