@font-face {
  font-family: 'graphicon';
  src:  url('fonts/graphicon.eot?9xf9v1');
  src:  url('fonts/graphicon.eot?9xf9v1#iefix') format('embedded-opentype'),
    url('fonts/graphicon.ttf?9xf9v1') format('truetype'),
    url('fonts/graphicon.woff?9xf9v1') format('woff'),
    url('fonts/graphicon.svg?9xf9v1#graphicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="graphicon-"], [class*=" graphicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'graphicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.graphicon-atm:before {
  content: "\e96d";
}
.graphicon-yihang:before {
  content: "\e966";
}
.graphicon-bank-card:before {
  content: "\e900";
}
.graphicon-bayonet:before {
  content: "\e901";
}
.graphicon-big-car:before {
  content: "\e902";
}
.graphicon-browser_account:before {
  content: "\e903";
}
.graphicon-car:before {
  content: "\e904";
}
.graphicon-case:before {
  content: "\e905";
}
.graphicon-cell_phone_imei:before {
  content: "\e906";
}
.graphicon-cell_phone_mac:before {
  content: "\e907";
}
.graphicon-collective-household:before {
  content: "\e908";
}
.graphicon-document:before {
  content: "\e909";
}
.graphicon-email_account_suser:before {
  content: "\e90a";
}
.graphicon-email_accounts:before {
  content: "\e90b";
}
.graphicon-email_accounts_manger:before {
  content: "\e90c";
}
.graphicon-entity-registered:before {
  content: "\e90d";
}
.graphicon-families:before {
  content: "\e90e";
}
.graphicon-feiqiankezhongdianren:before {
  content: "\e90f";
}
.graphicon-file:before {
  content: "\e910";
}
.graphicon-flights:before {
  content: "\e911";
}
.graphicon-hotel:before {
  content: "\e912";
}
.graphicon-human:before {
  content: "\e913";
}
.graphicon-huochecheci:before {
  content: "\e914";
}
.graphicon-huzhao:before {
  content: "\e915";
}
.graphicon-IP:before {
  content: "\e916";
}
.graphicon-jizhan:before {
  content: "\e917";
}
.graphicon-mac:before {
  content: "\e918";
}
.graphicon-micro_blog_account:before {
  content: "\e919";
}
.graphicon-organization:before {
  content: "\e91a";
}
.graphicon-phone:before {
  content: "\e91b";
}
.graphicon-picture:before {
  content: "\e91c";
}
.graphicon-product:before {
  content: "\e91d";
}
.graphicon-public_security_intelligence:before {
  content: "\e91e";
}
.graphicon-qiankezhongdianren:before {
  content: "\e91f";
}
.graphicon-qq_and_wechat_group_number:before {
  content: "\e920";
}
.graphicon-qq_and_wechat_number:before {
  content: "\e921";
}
.graphicon-small-car:before {
  content: "\e922";
}
.graphicon-taobao_account:before {
  content: "\e923";
}
.graphicon-telephone:before {
  content: "\e924";
}
.graphicon-video:before {
  content: "\e925";
}
.graphicon-wangba:before {
  content: "\e926";
}
.graphicon-wifi:before {
  content: "\e927";
}
.graphicon-account:before {
  content: "\e928";
}
.graphicon-architecture:before {
  content: "\e929";
}
.graphicon-audio:before {
  content: "\e92a";
}
.graphicon-zhanghuduizhanghu:before {
  content: "\e967";
}
.graphicon-renzhanghusuoshu:before {
  content: "\e968";
}
.graphicon-cell_phone:before {
  content: "\e92b";
}
.graphicon-cell_phonenumber:before {
  content: "\e92c";
}
.graphicon-email:before {
  content: "\e92d";
}
.graphicon-father_child:before {
  content: "\e92e";
}
.graphicon-group_members:before {
  content: "\e92f";
}
.graphicon-guardian:before {
  content: "\e930";
}
.graphicon-huhuguanxi:before {
  content: "\e931";
}
.graphicon-human_alarm:before {
  content: "\e932";
}
.graphicon-mate:before {
  content: "\e933";
}
.graphicon-micro_blog_friends:before {
  content: "\e934";
}
.graphicon-micro_blog_staterelease:before {
  content: "\e935";
}
.graphicon-mixture:before {
  content: "\e936";
}
.graphicon-mother_child:before {
  content: "\e937";
}
.graphicon-paccancy:before {
  content: "\e938";
}
.graphicon-people_involved_in_the_case:before {
  content: "\e939";
}
.graphicon-people_reported_the_cas:before {
  content: "\e93a";
}
.graphicon-police_case:before {
  content: "\e93b";
}
.graphicon-qq_and_wechat_friends:before {
  content: "\e93c";
}
.graphicon-qq_and_wechat_number2:before {
  content: "\e93d";
}
.graphicon-relation-suspiction:before {
  content: "\e93e";
}
.graphicon-relatives:before {
  content: "\e93f";
}
.graphicon-renhuzhaoguanxi:before {
  content: "\e940";
}
.graphicon-renshouji-m-guanxi:before {
  content: "\e941";
}
.graphicon-taobao:before {
  content: "\e942";
}
.graphicon-telephone_directory:before {
  content: "\e943";
}
.graphicon-the-part-of:before {
  content: "\e944";
}
.graphicon-victim_warning_instance:before {
  content: "\e945";
}
.graphicon-victimsof_the_case:before {
  content: "\e946";
}
.graphicon-went-together:before {
  content: "\e947";
}
.graphicon-uniE948:before {
  content: "\e948";
}
.graphicon-browser_account2:before {
  content: "\e949";
}
.graphicon-car2:before {
  content: "\e94a";
}
.graphicon-quxian:before {
  content: "\e969";
}
.graphicon-ruzhangjiaoyi:before {
  content: "\e96a";
}
.graphicon-wnagyindenglu:before {
  content: "\e96b";
}
.graphicon-chuzhangjiaoyi:before {
  content: "\e96c";
}
.graphicon-communication:before {
  content: "\e94b";
}
.graphicon-departures:before {
  content: "\e94c";
}
.graphicon-email2:before {
  content: "\e94d";
}
.graphicon-event-nowifi:before {
  content: "\e94e";
}
.graphicon-event-register:before {
  content: "\e94f";
}
.graphicon-huoche:before {
  content: "\e950";
}
.graphicon-huzhaodingpiao:before {
  content: "\e951";
}
.graphicon-huzhaohuoche:before {
  content: "\e952";
}
.graphicon-huzhaokonggangligang:before {
  content: "\e953";
}
.graphicon-huzhaowangba:before {
  content: "\e954";
}
.graphicon-huzhaozhusu:before {
  content: "\e955";
}
.graphicon-micro_blog_privateletter:before {
  content: "\e956";
}
.graphicon-micro_blog_staterelease2:before {
  content: "\e957";
}
.graphicon-mobile_sms:before {
  content: "\e958";
}
.graphicon-mobilephone_company_wifi:before {
  content: "\e959";
}
.graphicon-paccancy2:before {
  content: "\e95a";
}
.graphicon-qq_and_wechat_chat:before {
  content: "\e95b";
}
.graphicon-qq_and_wechat_groupchat:before {
  content: "\e95c";
}
.graphicon-qq_and_wechat_staterelease:before {
  content: "\e95d";
}
.graphicon-taobao_search:before {
  content: "\e95e";
}
.graphicon-taobao_view:before {
  content: "\e95f";
}
.graphicon-url_view:before {
  content: "\e960";
}
.graphicon-wangba2:before {
  content: "\e961";
}
.graphicon-accommodation:before {
  content: "\e962";
}
.graphicon-booking:before {
  content: "\e963";
}
.graphicon-case2:before {
  content: "\e964";
}
.graphicon-checkpoint:before {
  content: "\e965";
}

