*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background: #f6f7f9;
}
ol,ul,li{
	list-style: none;
}
.title {
    font-size: 20px;
    color: #6DA7E7 ! important;
    padding-left: 20px;
    padding-top: 18px;
}
.top {
    height: 70px;
    background-color: #1A427D;
}
.hushi-date {
    margin-top: 60px;
    right: 30px ! important;
}
.content {
	width: 100%;
	height: 100%;
	padding-top: 20px;
	padding-left: 20px;
}
.pic {
	width: 90%;
    margin: 20px 0;
    margin-left: 2%;
    background-color: #FFFFFF;
    border: 1px solid #C8CFDF;
}
.font {
    height: 50px;
    background-color: #EFF2F9;
    border-bottom: 1px solid #C8CFDF;
    color: #58688C;
    font-size: 16px;
    padding: 15px;
}
.thBtn {
    padding: 20px 0px 0px 140px;
}
#tb {
    margin-right: 20px;
}
.active1 {
    background: white 25px ! important;
    color: #7dc3ff ! important;
    border: 2px solid #7dc3ff ! important;
}
.Btn {
    height: 25px;
    background: -webkit-linear-gradient(left, #77a9fe, #7fc8ff);
    color: #dfe3ec;
    padding: 0 6px;
    border: 1px solid #7dc3ff;
}
#hushi-time {
    margin-right: 10px;
}
.gw_tab{
	width: 99.4%;
	height: 35px;
	background: #e2e5ec;
	margin-top: 70px;
}
.gw_tab li{
	float: left;
	width: 100px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ccc;
	text-align: center;
	background: #cfd7e2;
	color: #56688a;
	cursor: pointer;
}
.gw_tab li.hover{
	color: #56688a;
	background: #f6f7f9;
	border: none;
}
.btn-group button {
	line-height: 12px;
}
.hushi-type {
	width: 50%;
	margin: 10px 0;
	margin-left: 3%;
	margin-top: -8%;
	margin-bottom: 3%;
}
.hushi-date{
	position: absolute;
	right: 5%;
	top: 7%;
}
.controls{
	margin-top: 7%;
}
.hushi-date{
	margin-right: 5.3%;
}
.gw_map{
	width: 100%;
	margin-top: 3%;
}
.gw_qianxi{
	width: 1100px;
	height: 800px;
	float: left;
	margin-left: 3%;
}
.gw_table{
	float: left;
	margin-top: 6%;
	margin-left: 8%;
}
.gw_table p{
	text-align: center;
}
.gw_table p span{
	font-size: 28px;
	color: red;
	font-weight: bold;
}
.gw_table tr th{
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #1A427D;
	color: #fff;
	border-right: 1px solid #fff;
}
.gw_table tr td{
	width: 33.3%;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
#find{
	margin-left: 50px;
}
.check_params{
	margin-top: 5%;
}
.cc_ols{
	width: 200px;
	height: 35px;
	background: #e2e5ec;
	border-top: 1px solid #f6f7f9;
}
.cc_ols li{
	float: left;
	width: 100px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ccc;
	text-align: center;
	background: #cfd7e2;
	color: #56688a;
	cursor: pointer;
}
.cc_ols li.cc_hover{
	color: #56688a;
	background: #f6f7f9;
	border: none;
}
.all .cc_params .hushi-type {
	width: 50%;
	margin-left: 3%;
	margin-top: -4%;
}
