<!DOCTYPE html>
<html class="qkmp-page" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>背景审查结果关联</title>
    <link rel="stylesheet" type="text/css" href="../../css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/bjscjggl.css">
</head>

<body>
    <!-- 页面头部start -->
    <div class="nav-bar">
        <div class="logo-box">
            <img src="../../img/bjscxq/logo.png" alt="警徽">
        </div>
        <img class="logo-word" src="../../img/bjscxq/logo-word.png" alt="背景审查平台">
		<div class="top">
			 <div class="title">
		          <a href="../index.html?sessionId=1">首页</a>
		     </div>
		     <div class="title">
		          <a href="../taskManagement.html?sessionId=1">任务列表</a>
		     </div>
	     </div>
        <div class="login-state">
            <div class="person-icon">
                <img src="../../img/bjscxq/person-icon.png" alt="You">
            </div>
            <div class="login-info">
                <span class="admin-word">admin</span>
                <span>人事、管理员、管理部门</span>
                <span class="triangle-icon"></span>
            </div>
        </div>
        <div class="email-box">
            <img class="email-icon" src="../../img/bjscxq/email-icon.png" alt="power">
            <div class="note blue">
                <span>6</span>
            </div>
        </div>
        <div class="volume-box">
            <img class="volume-icon" src="../../img/bjscxq/volume-icon.png" alt="power">
            <div class="note orange">
                <span>8</span>
            </div>
        </div>
        <img class="power-icon" src="../../img/bjscxq/power-icon.png" alt="power">
    </div>
    <!-- 页面头部end -->

    <!-- 页面内容部分start -->
    <div class="content-card">
        <!-- 个人信息start -->
        <div class="own-info-box">
            <div class="blue-label"></div>
            <div class="own-info-card">
                <!-- <div class="own-basic-info-box">
                    <div class="head-icon-box">
                        <img src="../../img/bjscxq/head-icon.png" alt="head-icon">
                    </div>
                    <div class="own-basic-info">
                        <h3>王明奇乐图</h3>
                        <p>身份证号：<span>150108199208032322</span></p>
                        <p>性别：<span>女</span></p>
                        <p>民族：<span>汉</span></p>
                        <p>户籍地：<span>内蒙古呼和浩特市 </span></p>
                        <p>现住地：<span>内蒙古包头市XX区XX路</span></p>
                        <p>职业：<span>退役军人，教师，出租车司机</span></p>
                    </div>
                    <div class="own-occupation">
                        <div class="tags">
                            <div class="label-word">标签：</div>
                            <div class="labels">
                                <span class="label label-info">机构从业人员</span>
                                <span class="label label-info">机构从业人员</span>
                                <span class="label label-info">机构从业人员</span>
                                <span class="label label-info">警员</span>
                                <span class="label label-info">机构从业人员</span>
                                <span class="label label-info">机构从业人员</span>
                                <span class="label label-info">单位从业人员</span>
                                <span class="label label-info">单位从业人员</span>
                                <span class="label label-info">单位从业人员</span>
                                <span class="label label-info">机构从业人员</span>
                                <span class="label label-info">从业人员</span>
                                <span class="label label-info">机构从业人员</span>
                                <span class="label label-info">从业人员</span>
                                <span class="label label-info">从业人员</span>
                                <span class="label label-info">市局警员</span>
                                <span class="label label-info">机构从业人员</span>
                                <span class="label label-info">单位从业人员</span>
                                <span class="label label-info">从业人员</span>
                                <span class="label label-info">从业人员</span>
                            </div>
                            <div class="col-md-10 labels">
                                <span class="label label-info">退役军人</span>
                                <span class="label label-info">教师</span>
                                <span class="label label-info">出租车司机</span>
                            </div>
                        </div>
                        <div class="occupation-list">
                            <ol>
                                <li>退役军人：2017-08-06至2017-08-15     在呼和浩特武警总队入伍</li>
                                <li>教师：2017-08-06至2017-08-15     呼和浩特市赛罕区新天幼儿园任职教师</li>
                                <li>教师：2017-08-06至2017-08-15     呼和浩特新月联合出租车公司任职出租车司机</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="own-label-box">
                        <div class="tags row red-tags">
                            <div class="col-md-2 label-word">红色标签：</div>
                            <div class="col-md-10 labels">
                                <span class="label label-danger">部下发涉稳人员</span>
                                <span class="label label-danger">部下发上访人员</span>
                            </div>
                        </div>
                        <div class="tags row yellow-tags">
                            <div class="col-md-2 label-word">黄色标签：</div>
                            <div class="col-md-10 labels">
                                <span class="label label-warning">打处记录</span>
                                <span class="label label-warning">经侦黑名单</span>
                                <span class="label label-warning">工作对象</span>
                            </div>
                        </div>
                        <div class="tags row blue-tags">
                            <div class="col-md-2 label-word">蓝色标签：</div>
                            <div class="col-md-10 labels">
                                <span class="label label-info">进京上访</span>
                                <span class="label label-info">跨市活动</span>
                                <span class="label label-info">频繁更换酒店</span>
                            </div>
                        </div>
                </div> -->
            </div>
        </div>
        <!-- 个人信息end -->
        <h4>亲属信息:</h4>
        <!-- 亲属信息start -->
        <div class="relatives-info-box">

               <!--  <div class="relative-card">
                    <div class="head-icon-box">
                        <img src="../../img/bjscxq/head-icon.png" alt="head-icon">
                    </div>
                    <div class="person-info-box">
                        <div class="top-right-part">
                            <div class="basic-info-box">
                                <h3 class="person-name">王明奇乐图</h3>
                                <div class="person-info-row row">
                                    <div class="col-md-5">身份证号：<span class="person-sfzh">150108199208032322</span></div>
                                    <div class="col-md-5">职业：<span class="person-occupation">退役军人，教师，出租车司机</span></div>
                                    <div class="col-md-2">性别：<span class="person-sex">女</span></div>
                                </div>
                                <div class="person-info-row row">
                                    <div class="col-md-2">民族：<span class="person-nation">汉</span></div>
                                    <div class="col-md-5">户籍地：<span class="person-domicile">内蒙古呼和浩特市</span></div>
                                    <div class="col-md-5">现住地：<span class="person-residence">内蒙古包头市XX区XX路</span></div>
                                </div>
                            </div>
                            <div class="occupation-box">
                                <span class="occu-label">职业：</span>
                                <ol>
                                    <li>退役军人：2017-08-06至2017-08-15     在XX部队入伍</li>
                                    <li>教师：2017-08-06至2017-08-15     在XX职业高中任职</li>
                                    <li>教师：2017-08-06至2017-08-15     在XX职业高中任职</li>
                                </ol>
                            </div>
                            <div class="view-details-button">
                                <div class="button">
                                    <img src="../../img/bjscxq/page-icon.png" alt="check">
                                    <span>查看详情</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-right-part">
                            <div class="tags row">
                                <div class="col-md-1 label-word">标签：</div>
                                <div class="col-md-11 labels">
                                    <span class="label label-danger">部下发涉稳人员</span>
                                    <span class="label label-danger">部下发上访人员</span>
                                    <span class="label label-warning">打处记录</span>
                                    <span class="label label-warning">经侦黑名单</span>
                                    <span class="label label-warning">工作对象</span>
                                    <span class="label label-info">进京上访</span>
                                    <span class="label label-info">跨市活动</span>
                                    <span class="label label-info">频繁更换酒店</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

        </div>
        <!-- 亲属信息end -->

    </div>
    <!-- 页面内容部分end -->



    <script type="text/javascript" src="../../js/plugins/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../js/plugins/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
    <script src="../../js/web/bjscjggl.js"></script>
</body>

</html>