$black: #000000;
$white: #ffffff;

$main-color1: #1a427d;
$main-color2: #56688a;
$main-color3: #498cff;
$main-color4: #78a2f3;

$gray-color1: #343434;
$gray-color2: #707070;
$gray-color3: #909090;
$gray-color4: #aaaaaa;
$gray-color5: #bbbbbb;
$gray-color6: #cccccc;
$gray-color7: #dddddd;

$btn-color1: #7cbbff;
$btn-color2: #fe5757;

$mark-color1: #ea6262;
$mark-color2: #31579f;
$mark-color3: #78a2f3;
$mark-color4: #9f88c8;
$mark-color5: #4887bd;
$mark-color6: #5ca2af;

$layout-color1: #c8d0de;
$layout-color2: #cfd7e2;
$layout-color3: #e8eaf0;
$layout-color4: #eff2f9;

$chart-color1: #7399f9;
$chart-color2: #7daffa;
$chart-color3: #05b1c7;
$chart-color4: #28bdbb;
$chart-color5: #54c8ac;
$chart-color6: #a3e167;
$chart-color7: #c592ff;
$chart-color8: #eb5352;
$chart-color9: #fe9f5a;
$chart-color10: #fbc76a;

$default-color: #56688a;
$hover-color: #498cff;
$special-color: #78a2f3;
$disabled-color: #bbbbbb;

$btn-current-txt: #699ffa;
$btn-current-from: #77aaff;
$btn-current-to: #7fc7ff;

$btn-current-warn-txt: #ff4444;
$btn-current-warn-from: #ff4444;
$btn-current-warn-to: #fc6b6c;

$link-current-default: #699ffa;
$link-current-hover: #498cff;
$link-current-disabled: #bbbbbb;

$status-minor: #fda738;
$status-safe: #00c76c;
$status-warning: #ff474c;
$status-locking: #aaaaaa;
$status-running: #00c76c;
$status-stop: #ff6600;

$tag-current-border: #dddee4;
$tag-current-txt: #56688a;
$tag-current-bg: #eef1f5;

$warn-color: #ff0000;

$input-default-border-color: #9aa4b9;
$input-focus-border-color: #498cff;
$input-wrong-border-color: #ff474c;
$input-right-border-color: #00c76c;
$input-disabled-border-color: #dddddd;
$input-disabled-background-color: #f7f7f7;
$input-help-color: #909090;