<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
      <title>任务详情</title>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="../css/plugins/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="../css/backgroundReview.css" />
</head>

<body>
      <div class="all">
            <div class="top">
                  <a href="#"><img src="../img/nav-logo.png"></a>
                  <div class="title">人员背景核查</div>
                  <div class="role">
                        <a href="#">admin</a>
                  </div>
            </div>
            <div class="container-fluid content" id="taskDetail">
                  <form class="task-detail">
                        <input type="text" class="form-control" placeholder='请输入要查询的人员身份证号'>
                        <button type="button" class="btn btn-default">查询</button>
                        <button type="button" class="btn btn-default">导出</button>
                  </form>
                  <div class="check-filter-box">
                        <label class="checkbox-inline">
                              <input type="checkbox" id="inlineCheckbox1" value="option1"> 警综打处记录
                        </label>
                        <label class="checkbox-inline">
                              <input type="checkbox" id="inlineCheckbox2" value="option2"> 重点人
                        </label>
                        <label class="checkbox-inline">
                              <input type="checkbox" id="inlineCheckbox3" value="option3"> 上访人员
                        </label>
                        <label class="checkbox-inline">
                              <input type="checkbox" id="inlineCheckbox4" value="option3"> 出国定居
                        </label>
                        <label class="checkbox-inline">
                              <input type="checkbox" id="inlineCheckbox5" value="option3"> 经侦黑名单
                        </label>
                        <label class="checkbox-inline">
                              <input type="checkbox" id="inlineCheckbox6" value="option3"> 教派人员
                        </label>
                        <label class="checkbox-inline">
                              <input type="checkbox" id="inlineCheckbox7" value="option3"> 涉枪涉爆
                        </label>
                        <label class="checkbox-inline">
                              <input type="checkbox" id="inlineCheckbox8" value="option3"> 亲属有记录
                        </label>
                        <label class="checkbox-inline">
                              <input type="checkbox" id="inlineCheckbox9" value="option3"> 审查有记录
                        </label>
                        <label class="checkbox-inline">
                              <input type="checkbox" id="inlineCheckbox10" value="option3"> 审查无记录
                        </label>
                        <button type="button" class="btn btn-default">筛选</button>
                  </div>
                  <div class="task-detail-box">
                        <div class="task-detail-card">
                              <div class="img-box">
                                    <img src="../img/icon.jpg">
                              </div>
                              <div class="detail-box">
                                    <div class="person-info">
                                          姓名：<span>赵一</span>
                                          身份证号：<span>123456789012345678</span>
                                          名族：<span>汉</span>
                                    </div>
                                    <div class="tags">
                                          <span class="label label-warning">警综打处记录</span>
                                          <span class="label label-warning">重点人</span>
                                          <span class="label label-danger">涉枪涉爆</span>
                                    </div>
                              </div>
                              <div class="button-box">
                                    <button type="button" class="btn btn-default">跳到档案</button>
                                    <button type="button" class="btn btn-default">跳到图析</button>
                                    <button type="button" class="btn btn-default">人工研判</button>
                              </div>
                        </div>
                        <div class="task-detail-card">
                              <div class="img-box">
                                    <img src="../img/icon.jpg">
                              </div>
                              <div class="detail-box">
                                    <div class="person-info">
                                          姓名：<span>赵一</span>
                                          身份证号：<span>123456789012345678</span>
                                          名族：<span>汉</span>
                                    </div>
                                    <div class="tags">
                                          <span class="label label-warning">警综打处记录</span>
                                          <span class="label label-warning">重点人</span>
                                          <span class="label label-danger">涉枪涉爆</span>
                                    </div>
                              </div>
                              <div class="button-box">
                                    <button type="button" class="btn btn-default">跳到档案</button>
                                    <button type="button" class="btn btn-default">跳到图析</button>
                                    <button type="button" class="btn btn-default">人工研判</button>
                              </div>
                        </div>
                        <div class="task-detail-card">
                              <div class="img-box">
                                    <img src="../img/icon.jpg">
                              </div>
                              <div class="detail-box">
                                    <div class="person-info">
                                          姓名：<span>赵一</span>
                                          身份证号：<span>123456789012345678</span>
                                          名族：<span>汉</span>
                                    </div>
                                    <div class="tags">
                                          <span class="label label-warning">警综打处记录</span>
                                          <span class="label label-warning">重点人</span>
                                          <span class="label label-danger">涉枪涉爆</span>
                                    </div>
                              </div>
                              <div class="button-box">
                                    <button type="button" class="btn btn-default">跳到档案</button>
                                    <button type="button" class="btn btn-default">跳到图析</button>
                                    <button type="button" class="btn btn-default">人工研判</button>
                              </div>
                        </div>
                        <div class="task-detail-card">
                              <div class="img-box">
                                    <img src="../img/icon.jpg">
                              </div>
                              <div class="detail-box">
                                    <div class="person-info">
                                          姓名：<span>赵一</span>
                                          身份证号：<span>123456789012345678</span>
                                          名族：<span>汉</span>
                                    </div>
                                    <div class="tags">
                                          <span class="label label-warning">警综打处记录</span>
                                          <span class="label label-warning">重点人</span>
                                          <span class="label label-danger">涉枪涉爆</span>
                                    </div>
                              </div>
                              <div class="button-box">
                                    <button type="button" class="btn btn-default">跳到档案</button>
                                    <button type="button" class="btn btn-default">跳到图析</button>
                                    <button type="button" class="btn btn-default">人工研判</button>
                              </div>
                        </div>
                  </div>
                  <!-- 分页 -->
                  <div style="text-align: right">
                        <nav style="width: 100%;">
                              <ul id="pagination" class="pagination">
                              </ul>
                        </nav>
                  </div>
            </div>
      </div>
      <script type="text/javascript" src="../js/plugins/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
      <script type="text/javascript" src="../js/plugins/fetch.js"></script>
      <script type="text/javascript" src="../js/plugins/moment.js"></script>
      <script type="text/javascript" src="../js/plugins/bootstrap-pagination.min.js"></script>
      <script type="text/javascript" src="../js/web/backgroundReview.js"></script>
</body>

</html>
